flake8
flake8-bandit
flake8-broken-line
flake8-bugbear
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-docstrings
flake8-eradicate
flake8-isort
flake8-pylint
flake8-quotes
flake8-rst-docstrings
flake8-string-format
numpy
PiDNG
piexif
pillow
simplejpeg
v4l2-python3
python-prctl
pyopengl
PyQt5
opencv-python
pytesseract
