name: CI
on:
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "1.3.1"
      - name: Install
        run: poetry install
      - name: Black
        run: poetry run black --check .
      - name: isort
        run: poetry run isort --check-only .
