name: flake8

on:
  push:
    branches: [ main, next ]
  pull_request:
    branches: [ main, next ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install apt dependencies
      run: sudo apt-get install -y build-essential libcap-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Install dependencies for testing
      run: |
        if [ -f requirements-test.txt ]; then pip install -r requirements-test.txt; fi
    - name: set pythonpath
      run: |
        echo "PYTHONPATH=." >> $GITHUB_ENV
    - name: Lint with flake8
      run: |
        flake8 . --count --show-source --statistics
